<h3 class="center subtle"><%= @page_title %></h3>

<% if @user.annual_time_off > 0 %>
  <div class="well well-striped row">
    <div class="row">
      <%= render 'shared/start_and_end_date_searchbar' %>
    </div>
    <%= render 'timeoff_calculator', year: @year, pay_period: @pay_period %>
  </div>
<% end %>

<%= render 'timeoff_table' %>

  <div class="buffered-row">
    <%= link_to FA_NEW, new_user_timesheet_path(@user.id), { class: "btn btn-success"} %>
  </div>

</div>